@charset "UTF-8";

@keyframes toleft {
  from { margin-left: 0 }
  to { margin-left: -50% }
}

@keyframes toright {
  from { margin-right: 0 }
  to { margin-right: -50% }
}

@keyframes wolfup {
  from { margin-bottom: -100% }
  to { margin-bottom: 0 }
}
@keyframes wolfdown {
  from { margin-bottom: 0 }
  to { margin-bottom: -100% }
}
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

div {
  &.foreground, &.background {
    height: 100%;
    width: 100%;
    position: fixed;
    & > img {
      height: 100%;
      width: 100%;
    }
  }
  &.background img {
    position: fixed;
    height: 2048px;
    width: 2048px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  &.foreground {
    z-index: 1;
    & div.info {
      display: none;
      position: fixed;
      z-index: 3;
      max-width: 70vw;
      max-height: 50vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #424242;
      color: white;
      padding: 2rem;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.3);
      border-radius: 2px;
      text-align: center;
      &.active {
        display: inline-block;
        animation: fadeIn 300ms ease;
      }
      & a#close {
        float: right;
        margin-top: -1.5rem;
        cursor: pointer;
      }
      & a { color: white; }

    }
    & div.drag {
      position: fixed;
      z-index: 2;
      width: 100%;
      height: 60%;
    }
    & div.infobox {
      padding: 0.3rem 1rem;
      position: fixed;
      bottom: 2rem;
      right: 3rem;
      height: 3rem;
      z-index: 10;
      background-color: #424242;
      border-radius: 5px;
      opacity: 0.4;
      transition: opacity .3s ease-in-out;
      line-height: 40px;
      color: white;
      &:hover { opacity: 1; }
      & a {
        color: white;
        &:hover { color: blue }
      }
    }
    & img#wolf {
      z-index: 2;
      position: fixed;
      left: 0;
      bottom: 0;
      margin-bottom: -100%;
      width: 500px;
      height: 450px;
      animation: wolfdown 1s ease;
      &.active {
        margin-bottom: 0;
        animation: wolfup 1s ease;
      }
    }
  }
  &.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    & .left, & .right {
      background-color: gray;
      width: 50%;
      height: 100%;
    }
    & .left { float: left; }
    & .right { float: right; }
  }
}

audio {
  display: none;
}

noscript {
  position: fixed;
  z-index: 200;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background-color: #424242;
  padding: 1rem;
  & h3 {
    color: white;
  }
}

div.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin: 1rem 0;
}

.toleft {
    margin-left: -50%;
    animation: toleft 1s ease-in-out;
}

.toright {
  margin-right: -50%;
  animation: toright 1s ease-in-out;
}

button#donate {
  color: #fff;
  letter-spacing: .5px;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  background-color: #2196F3;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}